# Node modules folder
node_modules/

# npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env

# Lock files (optional, include if you want to regenerate them each time)
package-lock.json
yarn.lock

# OS or editor files (optional)
.DS_Store
.vscode/
